@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-weight: 700;
    font-size: 56px;
}

.header {
    margin-top: 0;
}
img {
    width: 100px;
    background-color: #A7E9AF;
    backface-visibility: hidden;
}
span {
    
}
.container {
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    perspective: 1000px;
}
.carta{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99CEA8;
    width: 120px;
    height: 150px;
    position: relative;
    margin: 5px;
    background-color: #A7E9AF;
    border-radius: 10px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.carta:active{
    transform: scale(.97);
    transition: transform .5s;
}
.carta.flip {
    transform: rotateY(180deg);
}
.verso  {
    position: absolute;
}

span {
    width: 100px;
    height: 100px;
    transform: rotatey(180deg);
}
.material-icons {
    font-size: 100px;
    position: absolute;
}
.material-icons.azul {
    color: mediumaquamarine; 
}
.material-icons.grey {
    color: grey;
}
.material-icons.red {
    color: magenta;
}
.material-icons.gold {
    color: goldenrod;
}
